@include desktop {
  .container {
    margin: 0 auto;
    padding: 0 50px;
  }

  .first {
    &__container {
      padding-top: 30vh;
    }

    &__info {
      max-width: 950px;
    }

    &__title {
      font-size: 60px;
      line-height: 60px;
    }

    &__descr {
      max-width: 350px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .projects-body {
    padding-bottom: 60px;
  }

  .divinest-light {
    &__link {
      border-radius: 11px;
      width: 262px;
      height: 52px;
      font-size: 16px;
      line-height: 16px;
    }
  }

  .mobile-projects {
    margin-bottom: 70px;
    padding-top: 25px;
  }

  .game {
    &__text {
      padding-top: 20px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__dsr {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .last-game {
    &__body {
      flex-wrap: wrap;
    }

    &__bg {
      width: 74.3%;
    }

    &__text {
      margin-left: 0;
    }

    &__title {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    &__dsr {
      width: 455px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .footer {
    padding-bottom: 20px;

    &__email {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .media {
    padding-top: 10px;

    &__item {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &__img {
      width: 36px;
      height: 36px;
    }
  }

  .site-creator {
    padding-left: 40px;
    max-width: 240px;
    font-size: 16px;
    line-height: 24px;
  }
}

@include tablet {
  .first {
    &__container {
      padding-top: 25.5vh;
    }

    &__info {
      align-items: center;
      max-width: 620px;
    }

    &__descr {
      margin-right: 0;
      max-width: 450px;
    }
  }

  .to-projects {
    margin-bottom: 130px;
    font-size: 16px;
  }

  .divinest-light {
    &__dsr {
      padding-top: 20px;
      padding-bottom: 40px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__text {
      max-width: 470px;
      font-size: 16px;
      line-height: 24px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 30px;
  }

  .first {
    &__container {
      padding-top: 30vh;
    }
  }

  .game {
    &__title {
      font-size: 24px;
    }

    &__dsr {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .last-game {
    &__title {
      font-size: 24px;
    }

    &__dsr {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .footer {
    padding-top: 25px;
    padding-bottom: 20px;

    &__email {
      font-size: 12px;
      line-height: 18px;
    }

    &__body {
      align-items: center;
    }
  }

  .site-creator {
    padding-left: 40px;
    max-width: 200px;
    font-size: 12px;
    line-height: 18px;
  }
}

@include tablet-small {
  .first {
    &__info {
      max-width: 550px;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 50px;
      line-height: 55px;
    }

    &__descr {
      max-width: 400px;
    }
  }

  .divinest-light {
    &__link {
      bottom: -10%;
      width: 212px;
      height: 48px;
      font-size: 12px;
      line-height: 12px;
    }
  }

  .mobile-projects {
    flex-wrap: wrap;
  }

  .game {
    width: 48%;

    &:not(:last-child) {
      margin-right: 0;
    }

    &:first-child {
      margin-bottom: 40px;
    }

    &:nth-child(2) {
      margin-bottom: 40px;
    }
  }

  .last-game {
    &__bg {
      width: 100%;
    }

    &__dsr {
      width: 100%;
    }
  }

  .footer {
    padding-bottom: 3px;

    &__body {
      flex-direction: column;
      text-align: center;
    }

    &__email {
      margin-bottom: 10px;
      text-align: center;
    }
  }

  .media {
    margin-bottom: 32px;
    width: 100%;
    max-width: 320px;

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__img {
      width: 42px;
      height: 42px;
    }
  }

  .site-creator {
    padding-left: 0;
    max-width: 100%;
    text-align: center;
  }
}

@include mobile {
  .container {
    padding: 0 25px;
  }

  .first {
    &__container {
      padding-top: 30vh;
    }

    &__info {
      max-width: 310px;
    }

    &__title {
      font-size: 27px;
      line-height: 36px;
    }

    &__descr {
      width: 280px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .to-projects {
    margin-bottom: 90px;
    font-size: 12px;

    &__icon {
      height: 34px;
    }
  }

  .divinest-light {
    &__bg {
      justify-content: center;
      overflow: hidden;
    }

    &__video {
      width: auto;
      height: 566px;

      &--desk {
        display: none;
        opacity: 0;
      }

      &--mob {
        display: block;
        opacity: 1;
      }
    }

    &__link {
      bottom: -5px;
      margin-bottom: 0;
    }

    &__dsr {
      padding-top: 10px;
    }

    &__title {
      font-size: 24px;
    }

    &__text {
      padding: 0 20px;
      font-size: 12px;
      line-height: 18px;
      hyphens: none;

      &:not(:last-child) {
        margin-bottom: 27px;
      }
    }
  }

  .mobile-projects {
    margin-bottom: 60px;
  }

  .game {
    &__text {
      padding-top: 10px;
    }
  }

  .last-game {
    &__title {
      margin-top: 10px;
    }
  }
}
