.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 3px;
  background-color: transparent;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    font-family: "Space Mono";
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    letter-spacing: -0.05em;
    color: var(--color-white);
  }
}

.contact {
  padding-top: 7px;
  text-align: right;
  color: var(--color-white);

  &__text {
    margin-bottom: 8px;
  }
}
