.projects {
  position: relative;
  z-index: 100;
  text-align: center;
  background-color: transparent;
}

.other {
  z-index: 100;
  padding-bottom: 1500px;
  background-color: var(--color-white);
}
